
// Fonts

// Variables
@import "variables";

// Mixins
@import "mixins";

// Layouts
@import "layouts/sidebar";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// MaterializeCSS
@import "node_modules/materialize-css/sass/materialize";

// DataTables
@import "datatables";

html, body{
	height: 100%;
}
body {
	background: white;
	font-family: sans-serif;
}

header{
    position: relative;
}

header, main, footer {
    padding-left: 300px;
}

#content{
	padding: 30px 0;
    select{
        display: inherit;
    }
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 64px;
}

nav.top-nav {
    height: 122px;
    box-shadow: none;
    a.page-title {
        font-size: 36px;
    	line-height: 122px;
    	
	}
}

.button-collapse.top-nav{
    color: white;
}

@media only screen and (max-width: 600px){
    nav.top-nav {
        height: 72px;
        text-align: center;
        a.page-title {
            font-size: 18px;
            line-height: 72px;
            
        }
    }

    .button-collapse.top-nav{
        position: absolute;
        top: 33%;
        left: 5%;
    }
}

@media only screen and (min-width: 993px){
    .container {
        width: 90%; 
    }
}


@media only screen and (max-width: 992px){
	header, main, footer {
    	padding-left: 0;
	}
}
